h1 {
    text-align: center;
    margin-bottom: 1rem; /* Add some space below the heading */
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; 
    width: 100%; 
  }
  
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0; 
  }
  
  .delete-message {
    color: red;
  }

  .add-btn {
    width: 150px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .add-btn:hover {
    background-color: #0056b3;
  }